export DISCORD_APPLICATION_ID=<YOUR_APP_ID>
export DISCORD_GUILD_ID=<YOUR_GUILD_ID>
export DISCORD_TOKEN=<YOUR_BOT_TOKEN>
export DISCORD_PUBLIC_KEY=<YOUR_PUBLIC_KEY>
export NEWS_NOTIFICATION_CHANNEL_ID=
export NEWS_SUBSCRIBER_ROLE_ID=
